---
layout: default
path: post
---

<section id="posts" class="container-fluid">
    <div class="row title-row">
        <div class="post-header">
            <h1 class="text-center">{{title}}</h1>
            <img id="post-logo" src="/static/img/favicon.png" alt="">
        </div>
    </div>

    <div class="pb-5 mb-5 border-b border-gray-100">
        <p class="text-center text-base leading-6 font-medium text-gray-500">
            <time> {{ date | readableDate }}
                by
                <a>{{ author }}</a>

            </time>
        </p>

    </div>
    <article class="blog-posts-wrapper">
        {{ content | safe }}
    </article>
</section>