<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-logo">
                <img src="/static/img/logo-inverted.png" alt="">
            </div>
            <div class="col-md-3 footer-menu">
                <h3>Menu</h3>
                {% if navigation.items %}
                <ul>
                    {% for item in navigation.items %}
                    <li>
                        <a class="menu-item" href="{{ item.url }}">{{ item.text }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-md-3 footer-contact">
                <h3>Contact</h3>
                <p>Phone: <br> (605) 123-4567</p>
                <p>Email: contact@tomcatwebdesign.com</p>
            </div>
            <div class="col-md-3 footer-social">
                <h3>Social</h3>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-google"></i>
            </div>
        </div>
    </div>
</footer>